<script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
<script type="text/javascript" src="/routes/logout.js"></script>
<script type="text/javascript" src="/routes/edit_profile.js"></script>
<script type="text/javascript" src="/routes/home_page.js"></script>
<link rel="stylesheet" href="/styles/landing_page.css" type="text/css" />

<div class="bg-light">
<section class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style= "justify-content:space-between; display:flex">
  <header style= "justify-content:space-between; display:flex; width:100%">
      <body class= "header">
          <div style="width:18rem">
            <!-- <div class= "center-text2"> -->
              <p class= "left-text" style= "font-weight: bold">Welcome back, Corah!</p>
              <form method="GET" action="/home">
                <a href="/home">
                  <div class= "virtual-logo2"></div>
                  <div class="virtual-logo3"></div>
                </a>
              </form>
            </div>
            <div>
              <form method="GET" action="/edit_profile">
                <a href="/edit_profile">
                  <img class= "profile-pic" src="https://i.ibb.co/1v50s52/FakeDP.jpg"/>
                </a>
              </form>
            </div>
    </header>
  </nav>
</section>

</div>
