<script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
<script type="text/javascript" src="/routes/logout.js"></script>

<header>
    <body style= "background-color:#eaebee">
        <div class= "center-text2">
          <p class= "left-text">Welcome back!</p>
          <div class="virtual-logo2"></div>
          <form method="GET" action="/logout">
              <input type="submit" value="Logout"/>
          </form>
    </div>
</header>
