<header>
    <body style= "background-color: #EAEBEE">
        <div class= "center-text">
          <p>Welcome back!</p>
          <div class="virtual-logo"></div>
          <div class="virtual-logo2"></div>
    </div>
</header>
