<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add Resource Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/landing_page.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <!-- Link to add Bootstrap (can remove after changing back to .ejs file) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>


<body style= "background-color: #EAEBEE">
    <div class= "center-text">
      <div class="virtual-logo"></div>
</div>


    <div class="logo"></div>
    <div class="login-container">
        <main class="login-form">
          <form action="edit_profile" method="GET">
            <div>
              <label class= "login-labels" for="first-name">First Name</label>
              <div>
                <input type="text" id="first-name" class="form-control input-fields" name="first-name" required autofocus>
              </div>
            </div>
            <div>
              <label class= "login-labels" for="last-name">Last Name</label>
              <div>
                <input type="text"  id="last-name" class="form-control input-fields" name="last-name" required>
              </div>
              <div>
                  <label class= "login-labels" for="email">Email</label>
                  <div>
                    <input type="text"  id="email" class="form-control input-fields" name="email" required>
                  </div>
              </div>
                  <br>
                  <div id="profile-container">
                    </div>
                    <input id="imageUpload" type="file" name="profile_photo" placeholder="Photo" required="" capture>
                  <div>
                <button class="login-button" type="submit">
                  <a href="/home"> Update Profile </a>
                </button>
              </div>
          </form>
        </main>
      </div>
  </body>
</html>
