<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add Resource Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/landing_page.css" type="text/css" />
    <script type="text/javascript" src="/routes/logout.js"></script>

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <!-- Link to add Bootstrap (can remove after changing back to .ejs file) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>


<body style= "background-color: #EAEBEE">
    <div class= "center-text">
      <div class="virtual-logo"></div>
      <p class = "create-new">Edit Profile</p>
</div>


<div class="logo"></div>
<div class="desktop-container2">
  <div class="login-container">
    <div class ="left-text">
      <div class="virtual-small"></div>
      <p class = "create-new">Edit Profile</p>
    </div>
        <main class="login-form">
          <form action="/edit_profile" method="POST">
            <div>
              <label class= "login-labels" for="first-name">First Name</label>
              <div>
                <input type="text" id="first-name" class="form-control input-fields" name="first_name">
              </div>
            </div>
            <div>
              <label class= "login-labels" for="last-name">Last Name</label>
              <div>
                <input type="text"  id="last-name" class="form-control input-fields" name="last_name">
              </div>
              <div>
                  <label class= "login-labels" for="email">Email</label>
                  <div>
                    <input type="text"  id="email" class="form-control input-fields" name="email">
                  </div>
              </div>
              <div>
                  <label class= "login-labels" for="password">Password</label>
                  <div>
                    <input type="text"  id="password" class="form-control input-fields" name="password">
                  <br>
                  <div id="profile-container">
                    </div>
                    <input id="imageUpload" type="file" name="profile_pic" placeholder="Photo" required="" capture>
                  <div>
                <button class="login-button" type="submit">
                  <a > Update Profile </a>
                </button>
              </div>
          </form>
        </main>
        <form method="GET" action="/logout">
          <input class="logout" type="submit" value="Logout"/>
      </form>
      </div>
  </body>
</html>
