<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- JQuery -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>



  <title>Document</title>
</head>
<body>
  <% include ./partials/_header %>
  <br>
  <div id="search-my-resources">
    <form>
      <input type="text" placeholder="Search My Resources">
      <button type="submit">Search</button>
    </form>
  </div>
  <section id="my-resources">
    <h3>My Resources</h3>
    <div id="my-categories-list">
    </div>
  </section>
  <br>
  <br>
  <div>
    <p>Search Form Everything</p>
  </div>
  <section>
    <h3>Search Results</h3>
    <div>
      <article>
        <p>Category X</p>
      </article>
    </div>
  </section>

</body>
  <!-- JS for Displaying My Resources -->
  <script type="text/javascript" src="/scripts/displayMyCategories.js"></script>
</html>
