<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/home.css" type="text/css" />


  <!-- JQuery -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

  <title>Home</title>
</head>

<body>
  <% include ./partials/_header %>
  <br>
  <section class="container">
    <!-- <div class="my-resources"> -->
      <!-- <h3>My Resources</h3> -->

    <!-- </div> -->
    <section id="my-resources">
      <div class="header">
        <h3>My Resources</h3>

      </div>
        <div id="my-categories-list"></div>
      </div>


      <!-- <div class="card">
        <img src="/images/science_icon.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Science</h5>
        </div>
      </div>
      <div class="card">
        <img src="/images/baking_icon.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Baking</h5>
        </div>
      </div> -->
    </section>
  </section>

  <br>
  <br>

  <section class="container">
    <div class= "search-form">
      <form id = "search-all-resources" >
        <input type="text" placeholder="Search All Resources" id="search">
        <button type="submit" class="btn btn-light">Search</button>
      </form>
    </div>
    <section id = "resources_found" >

        <div class="card">
          <div class="card-header">
              <h5 class="card-title">Async/await</h5>
          </div>
          <img src="https://img.youtube.com/vi/568g8hxJJp4/hqdefault.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <div class="card-footer">
            <div class="left-footer">
              <img src="/images/like.svg" alt="...">
              <img src="/images/comment.svg" alt="...">
            </div>
            <span>rating</span>
          </div>

        </div>
    </section>
  </section>


</body>
  <!-- JS for Ajax Functions -->
  <script type="text/javascript" src="/scripts/ajaxFunctions.js"></script>
  <!-- JS for HTML Template Functions -->
  <script type="text/javascript" src="/scripts/htmlTemplateFunction.js"></script>
  <!-- JS for Displaying all resources by title -->
  <script type="text/javascript" src="/scripts/browse_resources.js"></script>
  <!-- JS for Displaying My Resources -->
  <script type="text/javascript" src="/scripts/displayMyCategories.js"></script>

</html>
