<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <% include ./partials/_header %>
  <div id="search-my-resources">
    <form>
      <input type="text" placeholder="Search My Resources">
      <button type="submit">Search</button>
    </form>
  </div>
  <section>
    <h3>My Resources</h3>
    <div>
      <article>
        <p>Category X</p>
      </article>
    </div>
  </section>
  <div>
    <p>Search Form Everything</p>
  </div>
  <section id = "resources_found" >
    <h3>Search Results</h3>
    <div>
      <article>
        <p>Category X</p>
      </article>
    </div>
  </section>
</body>
<script type="text/javascript" src="../public/scripts/browse_resources.js"></script>
</html>
