<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- JQuery -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <title>Home</title>
</head>

<body>
  <% include ./partials/_header %>
  <br>
  <div id="search-my-resources">
    <form>
      <input type="text" placeholder="Search My Resources">
      <button type="submit">Search</button>
    </form>
  </div>
  <section id="my-resources">
    <h3>My Resources</h3>
    <div id="my-categories-list">
    </div>
  </section>
  <br>
  <br>


  <div>
    <p>Search Form Everything</p>
  </div>
  <form id = "search-all-resources">
      <input type="text" placeholder="Search All Resources" id="search">
      <button type="submit">Search</button>
  </form>
  <section id = "resources_found" >

      <div class="card">
        <div class="card-header">
            <h5 class="card-title">Card title</h5>
        </div>
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
  </section>

</body>
  <!-- JS for Ajax Functions -->
  <script type="text/javascript" src="/scripts/ajaxFunctions.js"></script>
  <!-- JS for HTML Template Functions -->
  <script type="text/javascript" src="/scripts/htmlTemplateFunction.js"></script>
  <!-- JS for Displaying all resources by title -->
  <script type="text/javascript" src="/scripts/browse_resources.js"></script>
  <!-- JS for Displaying My Resources -->
  <script type="text/javascript" src="/scripts/displayMyCategories.js"></script>

</html>
