<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Virtual Learner</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/landing_page.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <!-- Link to add Bootstrap (can remove after changing back to .ejs file) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  </head>

  <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="https://i.ibb.co/r3f0KCp/Screen-Shot-2019-09-22-at-8-20-34-PM.png"" width="50" height="50" class="d-inline-block align-top" alt="">
        <header><h1>Virtual Learner</h1></header>
      </a>
    </nav>


  <body style="background-color: #f6f7fd">
        <main class="login-form">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-header">Existing User</div>
                            <div class="card-body">
                                <form action="POST" method="/api/login">
                                    <div class="form-group row">
                                        <label for="email_address" class="col-md-4 col-form-label text-md-right">Email Address</label>
                                        <div class="col-md-6">
                                            <input type="text" id="email_address" class="form-control" name="email_address" required autofocus>
                                        </div>
                                    </div>

                                    <form class="form-group row">
                                        <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                                        <div class="col-md-6">
                                            <input type="password"  id="password" class="form-control" name="password" required>
                                            <br>
                                        </div>
                                      </form>

                                      <div class="col-md-6 offset-md-4">
                                          <button type="submit" class="btn btn-primary">
                                              <a href="/home" style= "color: #f6f7fd"> Login</a>
                                          </button>
                                      </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </main>
        <main class="login-form">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-header">New User</div>
                            <div class="card-body">
                                <form action="GET" method="/register">
                                    <div class="col-md-6 offset-md-4">
                                        <button type="submit" class="btn btn-primary">
                                            <a href="/register" style= "color: #f6f7fd">Create New Account</a>
                                        </button>
                                    </div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </main>
  </body>
</html>
