<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Virtual Learner</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/landing_page.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <!-- Link to add Bootstrap (can remove after changing back to .ejs file) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  </head>


  <body style= "background-color: #EAEBEE">
    <div class= "center-text">
      <p>Welcome back!</p>
      <div class="virtual-logo"></div>
    </div>


    <div class="logo"></div>
    <div class="login-container">
        <main class="login-form">
          <form action="login" method="POST">
            <div>
              <label class= "login-labels" for="email_address">Email</label>
              <div>
                <input type="text" id="email_address" class="form-control input-fields" name="email_address" required autofocus>
              </div>
            </div>
            <div>
              <label class= "login-labels" for="password">Password</label>
              <div>
                <input type="password"  id="password" class="form-control input-fields" name="password" required>
              </div>
              </div>
              <div>
                <button class="login-button" type="submit">
                  <a href="/home"> Sign In</a>
                </button>
              </div>
              <div>
                <p class="account-space">Don't have an account?</p>
                <div class="sign-up"><a class= "sign-up-link" href="/register"> Sign Up</a></div>
              </div>
          </form>
        </main>
      </div>
  </body>
</html>
