<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/landing_page.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/routes/register.js"></script>
    <script type="text/javascript" src="/scripts/profile.js"></script>

    <!-- Link to add Bootstrap (can remove after changing back to .ejs file) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>


<body style= "background-color: #EAEBEE">
    <div class= "center-text">
      <div class="virtual-logo"></div>
      <p>Create A New Account!</p>
    </div>


    <div class="logo"></div>
    <div class="desktop-container2">
      <div class="login-container">
        <div class ="left-text">
          <div class="virtual-small"></div>
          <p class = "create-new">Create A New Account</p>
        </div>
        <main class="login-form">
          <form action= "register" method="POST">
            <div>
              <label class= "login-labels" for="first_name">First Name</label>
              <div>
                <input type="text" id="first_name" class="form-control input-fields" name="first_name" required autofocus>
              </div>
            </div>
            <div>
                <label class= "login-labels" for="last_name">Last Name</label>
                <div>
                  <input type="text" id="last_name" class="form-control input-fields" name="last_name" required autofocus>
                </div>
            </div>
            <div>
                <div>
                    <label class= "login-labels" for="email_address">Email</label>
                    <div>
                      <input type="text" id="email_address" class="form-control input-fields" name="email_address" required autofocus>
                    </div>
                  </div>
                <div>
              <label class= "login-labels" for="password">Password</label>
              <div>
                <input type="password"  id="password" class="form-control input-fields" name="password" required>
              </div>
              </div>
              <br>
            <div id="profile-container">
            </div>
             <input class= "profile" id="imageUpload" type="file" name="profile_photo" placeholder="Photo" required="" capture>
              <div>
                <button class="login-button" type="submit">
                  <a href="/home"> Sign Up</a>
                </button>
              </div>

          </form>
        </main>
      </div>
  </body>
</html>
