body {
  background-color: #F6F7FD;
}
body .container {
  width: 100%;
  text-align: center;
}
body .container .titles {
  font-family: "Poppins", sans-serif;
  text-align: left;
  font-weight: bold-italic;
}
body .container .header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
body .container .header .home_buttons {
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  body .container .header .home_buttons {
    width: 20%;
  }
}
@media (min-width: 1200px) {
  body .container .header .home_buttons {
    width: 18%;
  }
}
body .container .header .home_buttons button {
  padding: 0;
  border: none;
  background: none;
}
body .container .header .home_buttons img {
  width: 30px;
}
body #my-categories-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
body #my-categories-list .my-categories {
  width: 45%;
  margin: 1%;
  text-align: center;
  box-shadow: 5px 10px 15px #adb5bd;
  border-radius: 15px;
  background-color: #fff;
}
@media (min-width: 768px) {
  body #my-categories-list .my-categories {
    width: 30%;
  }
}
@media (min-width: 992px) {
  body #my-categories-list .my-categories {
    width: 28%;
  }
}
@media (min-width: 1200px) {
  body #my-categories-list .my-categories {
    width: 22%;
  }
}
body #my-categories-list .my-categories img {
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}
body .card {
  width: 100%;
  margin: 0.5em;
  padding: 1em;
  box-shadow: 5px 10px 15px #adb5bd;
  border-radius: 15px;
}
@media (min-width: 768px) {
  body .card {
    width: 46%;
  }
}
@media (min-width: 1200px) {
  body .card {
    width: 30%;
  }
}
body .card .card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}
body .card .card-header .card-title {
  margin: 0;
}
body .card .card-header .red-liked {
  width: 25px;
}
body .card .card-header .btn {
  padding: 0 6px;
  height: 25px;
}
body .card .card-footer {
  background-color: #fff;
}
body .card .card-footer .footer-top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
body .card .card-footer .footer-top .left-footer {
  width: 35%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
body .card .card-footer .footer-top .left-footer img {
  width: 20px;
}
body .card .card-footer .footer-top .left-footer img:hover {
  cursor: pointer;
}
body .card .card-footer .footer-top i:hover {
  cursor: pointer;
}
body .card .comment-section {
  display: none;
}
body .card .comment-section .post-comment {
  display: flex;
  justify-content: space-around;
  margin: 20px 0px;
}
body .card .comment-section .post-comment textarea {
  border: none;
  border-bottom: 2px solid #585858;
  width: 90%;
  overflow: auto;
  outline: none;
  height: 2.5em;
}
body .card .comment-section .comments-list {
  max-height: 200px;
  overflow: auto;
}
body .card .comment-section .comments-list .list {
  padding: 0;
  list-style: none;
}
body .card .comment-section .comments-list .list div {
  text-align: left;
  display: table-cell;
}
body .card .comment-section .comments-list .list div img {
  width: 30px;
  margin-right: 10px;
  border-radius: 50%;
}
body .card .comment-section .comments-list .list div p {
  margin: 0;
}
body .card .comment-section .comments-list .list div .timestamp {
  color: grey;
}
body #search-all-resources {
  display: flex;
  justify-content: space-around;
  margin: 1em;
  width: 100%;
}
body #search-all-resources input {
  width: 80%;
  border-radius: 5px;
}

/*# sourceMappingURL=home.css.map */
