

$black: #333
$pale: #f6f7fd
$pink: #c69
$blue: #036

$font-stack: 'Andale Mono', monospace
$font-size: 14px

body
  background: $pale
  color: $black
  font-family: $font-stack
  font-size: $font-size
